*
!.gitignore
!test_01_linie_dreapta/
!test_01_linie_dreapta/**
!test_02_linie_dreapta/
!test_02_linie_dreapta/**
!test_03_linie_dreapta/
!test_03_linie_dreapta/**
!test_04_linie_dreapta/
!test_04_linie_dreapta/**
!test_05_linie_dreapta/
!test_05_linie_dreapta/**
!test_06_linie_dreapta/
!test_06_linie_dreapta/**
!test_07_linie_dreapta/
!test_07_linie_dreapta/**
!test_08_linie_dreapta/
!test_08_linie_dreapta/**
!test_09_linie_dreapta/
!test_09_linie_dreapta/**
!test_10_linie_dreapta/
!test_10_linie_dreapta/**
